
		.nav{
			height: 70px;
			width: 100%;
	
			background-color: rgb(0, 102, 102);
		
			
		
		}
		html{
			scroll-behavior: smooth;
		}

		 .nav ul{
		 	overflow: auto;
		 }
		 .nav ul h3{
		 	font-size:25px;
		 	color: white;
		 }

		
		li{
			float: right;
			display: flex;
			padding-left: 15px;
			padding-top: 15px;
			padding-right: 20px;
			margin: 5px;
			
			
		}
		
		.nav ul li a{
			display: flex;
			text-decoration: none;
			color: white;
			
			border-radius: 5px;
			border-width: 3px;
			
		}
		.nav ul li a:hover{
			background-color: black;
			color: white;
		}
		.mainbody{
			background-color: rgb(61, 255, 190);
			height: 600px;
			text-align: center;
			opacity: 0.9;
			
		}
		 .mainbody img{
			   
               padding-top: 200px;
			
		}
		.mainbody b{
			font-size: 65px;
			
		}
		.pic img{
			padding: 0px;
		}
		.port{
			text-align: center;
		}
		.port p{
			
			font-size: 50px;
		}
		.port .p1 img{
			padding: 0px 6px;
		}
		.port .p2 img{
			padding: 0px 6px;
		}
		.abt{
			height: 230px;
			background-color: rgb(61, 255, 190);
			margin-top: 10px;

		}
		.abt .a2 p{
			
			font-size: 40px;
			text-align: center;
		}
		
		
		.abt .a1 p{
			
			font-size: 15px;
           float: left;
           padding-left: 270px;
		}
		.abt .a3 p{
			
			font-size: 15px;
           float: left;
           padding-left: 350px;
		}
		form{
			margin: 20px;
			margin-top: 30px;
			width: 400px;
			box-shadow: 5px 5px 5px 5px dimgrey;
			
		}
		.foot{
			background-color: rgb(0, 102, 102);
			height: 200px;
		}
		.foot .f1{
			float: left;
			padding-top: 30px;
			padding-left: 230px;
		}
		.foot .f2{
			float: right;
			padding-top: 30px;
			padding-right: 250px;
		}
		.foot .f3{
			float: left;
			padding-top: 30px;
			padding-left: 250px;
		}
		.foot .f3 a{
			padding-left: 5px;

		}
		#d1{
			font-size: 25px;
		}
		#d2{
			font-size: 25px;
		}
		#d3{
			font-size: 25px;
		}
		@media screen and (max-width:1000px){
			#nave{
				height: 50px;
			}
			#nave ul h3{
		 	font-size:20px;
		 	color: white;
		 	
		    }

			#nave ul li{
			float: right;
			display: flex;
			padding-left: 5px;
			padding-top: 9px;
			padding-right: 10px;
			margin: 5px;
            }

			#mb{
			opacity: 1;
		    }
		    #mb img{
               padding-top: 150px;
			
		    }
		    #mb b{
			font-size: 45px;
			}	

			#pc img{
				padding-top: 0px;
			}
			#Portfolio p{
			
			font-size: 45px;
		    }
		    #Portfolio img{
		    	height: 90px;
		    	width: 100px;
		    }
		    #About{
		    	height: 200px;

		    }
		  
		    #j2 p{
		    	font-size: 45px;
			    text-align: center;
			    padding-top: 10px;
			   }
			 #j1 p{
		    	font-size: 15px;
                float: left;
                padding-left: 10px;
			   }  
			 #j3 p{
		    	font-size: 15px;
                padding-left: 10px;
			   }
			   #ft p{
		    	font-size: 15px;


		    }
		    #ft{
		    	height: 160px;
		    }
		    

			#k1{
			border-right:1px solid black ;
			float: left;
			padding-top: 20px;
			padding-left: 2px;
			height: 130px;
		    }
		    #k2{
		    border-left:1px solid black ;
			float: right;
			padding-top: 20px;
			padding-right: 5px;
			height: 130px;
		    }
		    #k3{
		    
			float: left;
			padding-top: 20px;
			padding-left: 0px;
			
		    }
		    #k3 img{
		    	height: 15px;
		    	width: 15px;

			   }
			  #d1{
			  	font-size: 20px;
			  }
			  #d2{
			   font-size: 20px;
		       }
		      #d2{
			  font-size: 20px;
		    }
		 }

					
